<div id="hacker-news">
    <div class="panel categories">
        <div class="top-bar">
            <div class="title">Story Categories</div>
        </div>
        <div class="content">
            <div class="category" [class.active]="categoryIndex === i" *ngFor="let category of categories; let i = index" (click)="getSelectedCategoryItems(i)">
                <div class="title">{{category.name}}</div>
                <div class="tag">{{category.tag}}</div>
            </div>
        </div>
    </div>
    <div class="panel left">
        <div class="top-bar">
            <div class="search">
                <svg data-name="Group 30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.554 18.554">
                    <circle data-name="Ellipse 6" class="cls-1" cx="6.6" cy="6.6" r="6.6" transform="translate(0.5 0.5)" />
                    <line data-name="Line 1" class="cls-1" x2="6.8" y2="6.8" transform="translate(11.4 11.4)" />
                </svg>
                <input id="input" type="text" name="search" placeholder="Search Articles" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" />
            </div>
        </div>
        <div class="content">
            <div class="item" (click)="setIndexOfStory(i)" [class.active]="itemIndex === i" *ngFor="let item of filteredStories; let i = index">
                <div class="meta">
                    <div class="author">{{item.by}}</div>
                    <div class="date">{{item.CreatedOn}}</div>
                </div>
                <div class="title">{{item.title}}</div>
                <div class="text">{{item.text}}</div>
            </div>
        </div>
    </div>
    <div class="panel right">
        <div class="top-bar">
            <div class="title">{{item?.title}}</div>
        </div>
        <div class="content">
            <div class="item no-hover" *ngIf="item">{{item?.text}}</div>
        </div>
    </div>
</div>