<div id="hacker-news">
  <div class="panel left">
    <div class="top-bar">
      <div class="search">
        <svg data-name="Group 30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.554 18.554">
          <circle data-name="Ellipse 6" class="cls-1" cx="6.6" cy="6.6" r="6.6" transform="translate(0.5 0.5)" />
          <line data-name="Line 1" class="cls-1" x2="6.8" y2="6.8" transform="translate(11.4 11.4)" />
        </svg>
        <input id="input" type="text" placeholder="Search Articles" />
      </div>
    </div>
    <div class="content">
      <div class="story" (click)="setIndexOfStory(i)" [class.active]="activeIndex === i" *ngFor="let story of stories; let i = index">
        <div class="meta">
          <div class="author">{{story.by}}</div>
          <div class="date">{{story.CreatedOn}}</div>
        </div>
        <div class="title">{{story.title}}</div>
        <div class="text">{{story.text}}</div>
      </div>
    </div>
  </div>
  <div class="panel right">
    <div class="top-bar"><div class="title">{{story?.title}}</div></div>
    <div class="content"><div class="story no-hover" *ngIf="story">{{story?.text}}</div></div>
  </div>
</div>
